# Ignore everything in the root
/*

# Unignore specific directories
!/backend/
!/frontend/
!/LICENSE
!/README.md

# Unignore this file
!/Dockerfile
!/.gitignore

# Standard Ignores (Just in case they are caught inside)
**/node_modules/
**/__pycache__/
**/*.pyc
**/venv/
**/.env
project_report.md
